@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Api Application </h1>
     <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Repositories</h2>
        <p>
            Product Repository to connect to the database in order to draw the disered data.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Contollers</h2>
        <p>
            Having Product controller for the View and ProductApi where the Action Result methods exist.Returning data
            in Json form.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Postman</h2>
        <p>Validating Action Result Methods with Postman</p>
    </div>
    <div class="col-md-4">
        <h2>CRUD</h2>
        <p>Perfoming CRUD opertations for the Product entity </p>
    </div>
    <div class="col-md-4">
        <h2>Relations</h2>
        <p>Implementing zero-one to many reslation.A product can have zero to one shop while shop can have many products</p>
    </div>
</div>